<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header>
        <img src="/public/img/logo-mercado-liebre.svg" alt="" class="icon-principal">
        <div class="barra-busqueda">Buscar productos, marcas</div>
        <i class="fas fa-search"></i>
        <p class="text-header title"><i class="fas fa-hand-holding-usd"></i>
            Compra en cuotas y sin tarjeta de crédito</p>
        <ul type="none" style="margin-bottom: 10px;">
            <li><a class="text-header" href="" target="_blank">Ofertas</a></li>
            <li><a class="text-header" href="" target="_blank">Tiendas Oficiales</a></li>
            <li><a class="text-header" href="" target="_blank">Vender</a></li>
            <li><a class="text-header" href="" target="_blank">Ayuda</a></li>
        </ul>
        <ul type="none" style="margin-bottom: 10px;">
            <li><a class="text-header" href="" target="_blank">Creá tu cuenta</a><i class="fas fa-id-card"></i></li>
            <li><a class="text-header" href="" target="_blank">Ingresá</a><i class="fas fa-arrow-circle-right"></i></li>
            <li><a class="text-header" href="" target="_blank">Mis Compras</a><i class="fas fa-shopping-basket"></i></li>
        </ul>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
    </header>

    <main>
        <p class="text-titulares">Basado en tu última visita</p>
        <section class="section-main">
            <img class="img-ofertas" src="/public/img/img-cafetera-moulinex.jpg">
            <div class="descript-product">
                <i class="fas fa-shuttle-van"></i>
                <p class="text-precios">$6.770 </p>
                <p class="text-descuentos">40% off </p> 
                <p class="text-descripciones">Cafetera Moulinex</p>
            </div>
        </section>
        <p class="text-titulares">Ofertas</p>
        <section class="section-main">
            <img class="img-ofertas" src="/public/img/img-cafetera-moulinex.jpg">
            <div class="descript-product">
                <i class="fas fa-shuttle-van"></i>
                <p class="text-precios">$6.770 </p>
                <p class="text-descuentos">40% off </p> 
                <p class="text-descripciones">Cafetera Moulinex</p>
            </div>
        </section>
    </main>

    <footer>
        <section class="section-footer">
            <i class="fas fa-credit-card"></i>
            <p class="titulo-footer">Pagá con tarjeta o en efectivo</p>
            <p class="text-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
    </footer>
    
</body>
</html>