<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/public/css/register.css">
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>Registro</title>
</head>
<body>
    <header>
        <div class="header-superior">
            <img src="/public/img/logo-mercado-liebre.svg" alt="" class="icon-principal">
            <div class="barra-busqueda">Buscar productos, marcas   <i class="fas fa-search logo-search"></i>
            </div>
            <p class="text-header title"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito</p>
        </div>
       
        
        <section class="descript-header">
            <ul type="none" class="ul-ofertas">
                <li><a class="text-header" href="" target="_blank">Ofertas</a></li>
                <li><a class="text-header" href="" target="_blank">Tiendas Oficiales</a></li>
                <li><a class="text-header" href="" target="_blank">Vender</a></li>
                <li><a class="text-header" href="" target="_blank">Ayuda</a></li>
            </ul>
            <ul type="none" class="ul-loguin">
                <li><a class="text-header" href="/views/register.html" target="_blank">Creá tu cuenta<i class="fas fa-id-card icon-loguin"></i></a></li>
                <li><a class="text-header" href="/views/loguin.html" target="_blank">Ingresá<i class="fas fa-arrow-circle-right icon-loguin"></i></a></li>
                <li><a class="text-header" href="" target="_blank">Mis Compras<i class="fas fa-shopping-basket icon-loguin"></i></a></li>
            </ul>
        </section>

        <div class="burger-menu hamburguesa">
            <i class="fas fa-bars hamburguesa-int"></i>
        </div>
    </header>

    <div class="register">
        <h3 class="title-form-h3">Registro</h3>
        <form action="/register.html" method="post" class="form-register">
        <div class="sect-form">
            <input class="input-blancos" type="text" name="nombre" id="nombre" placeholder="Nombre">
        </div>

        <div class="sect-form">
            <input input class="input-blancos" type="text" name="apellido" id="apellido" placeholder="Apellido">
        </div>

        <div class="sect-form">
            <input input class="input-blancos" type="text" name="usuario" id="usuario" placeholder="Nombre de usuario">
        </div>

        <div class="sect-form">
            <label class="title-form" for="nacimiento">Fecha de nacimiento:</label>
            <input input class="input-blancos" type="date" name="nacimiento" id="nacimiento">
        </div>

        <div class="sect-form">
            <label class="title-form" for="usuario">Quiere comprar o vender?</label>
            <select class="input-blancos" name="usuario" id="usuario">
                <option disabled selected>Elija una opción</option>
                <option value="comprador">Comprador</option>
                <option value="vendedor">Vendedor</option>
            </select>
        </div>

        <div class="sect-form">
            <label class="title-form" for="intereses">Categorías de interés:</label>
            <div class="div-checkbox">
                <div class="check"><input type="checkbox" name="intereses" id="intereses" value="electro"> Electro</div>
                <div class="check"><input type="checkbox" name="intereses" id="intereses" value="moda"> Moda</div>
                <div class="check"><input type="checkbox" name="intereses" id="intereses" value="hogar"> Hogar</div>
                <div class="check"><input type="checkbox" name="intereses" id="intereses" value="Jugueteria"> Juguetería</div>
                <div class="check"><input type="checkbox" name="intereses" id="intereses" value="sana"> Vida sana</div>
            </div>
            
        </div>

        <div class="sect-form">
            <label class="title-form" for="perfil">Seleccionar una foto de perfil:</label>
            <input type="file" name="perfil" id="perfil" accept=".jpg" multiple>
        </div>

        <div class="sect-form">
            <input input class="input-blancos" type="password" name="contrasena" id="contrasena" placeholder="Contraseña">
        </div>

        <div class="sect-form">
            <input input class="input-blancos" type="password" name="contrasena" id="contrasena" placeholder="Confirmar contraseña">
        </div>

        <button class="button-blue" type="submit">Enviar</button>
        <button class="button-blue" type="reset">Borrar</button>

        </form>
    </div>    

    <footer>
        <div class="cajas-footer">
            <section class="section-footer">
            <i class="fas fa-credit-card icon-footer"></i>
            <p class="titulo-footer">Pagá con tarjeta o en efectivo</p>
            <p class="text-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section class="section-footer">
            <i class="fas fa-gift icon-footer"></i>
            <p class="titulo-footer">Envío gratis desde los $ 2.500</p>
            <p class="text-footer">Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section class="section-footer">
            <i class="fas fa-user-shield icon-footer"></i>
            <p class="titulo-footer">Seguridad de principio a fin</p>
            <p class="text-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer porque estás siempre protegido.</p>
            </section>
        </div>
        <p class="copyright">Copyright @ 1999-2020 MercadoLiebre S.R.L</p>
    </footer>
</body>
</html>