.register {
    background-color: gainsboro;
}

.title-form-h3{
    font-family: roboto;
    width: 90%;
    text-align: center;
    padding-top: 15px;
}
.form-register{
    padding: 10px 30px 10px 30px;
}

.sect-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px 0px 25px 0px;
}

.title-form {
    font-size: 15px;
    font-family: roboto;
    font-weight: bolder;
    text-align: start;
    width: 100%;
    margin-bottom: 5px;
}

.input-blancos {
    background-color:white;
    border-radius: 7%;
    border-color: transparent;
    height: 30px;
    width: 100%;
}

.div-checkbox {
    width: 100%;
    font-family: roboto;
}

.check{
    margin: 7px;
}

.button-blue{
    background-color: blue;
    width: 100%;
    border: transparent solid 1px;
    border-radius: 5%;
    margin: 5px 0px 5px 0px;
    height: 30px;
    color: white;
}