* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
a {
    text-decoration: none;
}

body{
    background-color: #EAC926;
}

/*HEADER*/

header {
    margin: 0px 10px 0px 10px
}

.icon-principal {
    width: 30%;
    margin: 10px 0px 10px 0px;
}

.barra-busqueda {
    background-color: white;
    color: darkgray;
    font-family: roboto;
    font-size: 12px;
    font-weight: bold;
    border: darkgray 2px solid;
    width: 50%;
    border-radius: 10%;
    margin: 10px 0px 0px 0px;
}

.descript-header {
    display: none;
}

.text-header {
    font-family: roboto;
    font-weight: bolder;
    font-size: small;
    margin-bottom: 10px;
    margin-right: 5px;
    color:black
}

.text-header.title {
    text-align: center;
    margin:15px
}

.hamburguesa {
    width: 100%;
    text-align: center;
    margin: 20px;

}

.hamburguesa-int {
    background-color: blue;
    color:white;
    font-size: 25px;
    padding: 10px;
    border-radius: 10%;
}

/*MAIN*/

main {
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.text-titulares {
    font-family: Roboto;
    font-size: 22px;
    margin: 15px;
    font-weight: bold;
    color: rgb(88, 88, 88);
}

.section-main {
    width: 90%;;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ebebeb;
    padding: 5px;
    margin-bottom: 10px;
}

.img-ofertas {
    width: 70%;
}

.fa-shuttle-van{
    color: forestgreen;
    font-size: 25px;
}

.descript-product{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.text-precios {
    font-family: roboto;
    font-size: 18px;
    font-weight: bolder;
}

.text-descuentos {
    font-family: roboto;
    font-size: 16px;
    color:forestgreen;
    font-weight: bolder;
}
.text-descripciones {
    font-family: roboto;
    font-size: 16px;
    padding: 20px 0px 20px 0px;
    color: grey;
    font-weight: bolder;
    display: none;
}

/*FOOTER*/
footer {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-footer {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:30px;
    margin-bottom: 30px;
}

.icon-footer {
    color: blue;
    font-size: xx-large;
    margin: 10px;
}

.titulo-footer {
    font-family: roboto;
    font-weight:bolder;
    font-size: medium;
    text-align: center;
}

.text-footer {
    text-align: center;
    font-family: roboto;
    font-size: smaller;
    text-align: center;
}

.copyright{
    font-family: roboto;
    font-size: small;
    width: 90%;
    margin: 10px;
}

/*BREACKPOINT*/

/*Tablet*/
@media (min-width: 361px){
    .descript-header {
        display: block;
    }
    .hamburguesa {
        display: none;
    }
    .text-descripciones {
        display: block;
    }
}
/*Desktop*/
@media (min-width: 769px) {
    .descript-header {
        display: block;
    }
    .hamburguesa {
        display: none;
    }
}




